/* ENDEVERA SCROLL PROGRESS BAR STYLES */
.scroll-progress {
    position: fixed;
    top: 0;
    left: 0;
    height: 3px;
    background: var(--color-gold);
    z-index: 1001;
    width: 0%;
    transition: width 0.1s ease-out;
}
